section.page404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 5rem 1rem;

	h2 {
		color: $main-color;
		font-family: $display-font;
		font-size: 6rem;
		text-align: center;
		margin: 4rem 0 2rem;
	}

	p {
		font-size: 1.5rem;
		text-align: center;
		max-width: 700px;
		margin: 0 auto;
	}

	.not-found-link {
		background: linear-gradient(90deg, $main-color, rgba($dark-color, 0.8), $dark-color);
		background-size: 200%;
		color: $accent-color;
		display: inline-flex;
		font-family: $display-font;
		letter-spacing: 0.075rem;
		margin: 60px auto 0;
		padding: 9px 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover {
			background-position-x: right;
		}
	}
}
