section.contact {
	background: linear-gradient(45deg, $main-color, $dark-color);
	padding: 3rem 0.5rem;
	position: relative;

	h2 {
		border-bottom: 3px solid $white;
		color: $white;
		font-family: $display-font;
		font-weight: normal;
		letter-spacing: 0.075rem;
		margin: 0 auto 1rem;
		padding-bottom: 0.5rem;
		text-align: center;
		text-transform: uppercase;
		width: fit-content;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 400px;
		position: relative;

		.form-field {
			position: relative;
			margin: 0 0 0.5rem;

			label {
				color: $white;
				font-family: $display-font;
				font-size: 0.7rem;
				letter-spacing: 0.07rem;
				text-transform: uppercase;
			}

			input,
			textarea {
				background: $white;
				border: none;
				padding: 3px 6px;
				width: 100%;
			}

			textarea {
				resize: vertical;
				height: 4rem;
			}
		}

		.submit {
			background: $dark-color;
			border: none;
			color: $white;
			cursor: pointer;
			font-family: $display-font;
			font-size: 0.9rem;
			letter-spacing: 0.07rem;
			padding: 9px 0.5rem;
			text-transform: uppercase;
			transition: all 0.3s;

			&:hover {
				background: $main-color;
			}
		}
	}
}
