section.contact {
	background: linear-gradient(45deg, $main-color, $dark-color);
	padding: 3rem 0.5rem;
	position: relative;

	h2 {
		border-bottom: 3px solid $accent-color;
		color: $white;
		font-family: $display-font;
		font-weight: normal;
		letter-spacing: 0.075rem;
		margin: 0 auto 1rem;
		padding-bottom: 0.5rem;
		text-align: center;
		text-transform: uppercase;
		width: fit-content;
	}

	.contact-content {
		display: flex;
		max-width: 870px;
		flex-wrap: wrap;
		margin: 0 auto;

		.contact-info {
			padding: 0.5rem 2rem 0.5rem 0;
			width: 50%;

			@include tablet {
				padding: 1rem;
				text-align: center;
				width: 100%;
			}

			.contact-block {
				display: flex;
				margin: 0 0 1rem;
				align-items: center;

				.fa {
					color: $accent-color;
				}

				p {
					color: $white;
					font-family: $display-font;
					margin: 0 0 0 1rem;

					a {
						color: rgba($light-color, 0.8);

						&:hover {
							color: $white;
						}
					}
				}
			}
		}

		.contact-form {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 50%;

			@include tablet {
				width: 100%;
				margin: 0 auto;
				max-width: 480px;
				padding: 0 1rem;
			}

			.form-field {
				position: relative;
				margin: 0 0 0.5rem;

				label {
					color: $light-color;
					font-family: $display-font;
					font-size: 0.7rem;
					letter-spacing: 0.07rem;
					text-transform: uppercase;
				}

				input,
				textarea {
					background: $light-color;
					border: none;
					padding: 9px 12px;
					width: 100%;
					transition: all 0.3s;

					&:focus {
						background: $white;
					}
				}

				textarea {
					resize: vertical;
					height: 4rem;
				}
			}

			.submit {
				background: $dark-color;
				border: none;
				color: $accent-color;
				cursor: pointer;
				font-family: $display-font;
				font-size: 0.9rem;
				letter-spacing: 0.07rem;
				padding: 9px 0.5rem;
				text-transform: uppercase;
				transition: all 0.3s;

				&:hover {
					background: $main-color;
				}
			}
		}
	}
}
