.site-footer {
	background: $dark-color;
	padding: 4rem 1rem;

	.copy {
		color: $white;
		text-align: center;
		letter-spacing: 0.08rem;

		.ph {
			color: rgba($white, 0.7);
			text-decoration: none;

			&:hover {
				color: $main-color;
			}
		}
	}
}
