.site-header {
	background: $light-color;
	position: sticky;
	top: 0;
	z-index: 99;

	.inner-header {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-areas:
			'top-bar    top-bar'
			'logo       nav';
		max-width: 1430px;
		margin: 0 auto;
		width: 100%;

		.top-bar {
			background: $main-color;
			grid-area: top-bar;
			height: 30px;
		}

		.logo {
			grid-area: logo;
			margin: 0;
			padding: 15px;
		}

		.main-nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			grid-area: nav;
			padding: 0 15px;

			.nav-list {
				display: flex;
				margin: 0;
				padding: 0;

				.nav-item {
					margin: 9px;
					padding: 0;

					a {
						color: $main-color;
						text-decoration: none;
						text-transform: uppercase;
						font-family: $display-font;
						font-size: 0.8em;
						letter-spacing: 0.05em;
						padding: 6px 0;
						border-bottom: 3px solid $main-color;
					}
				}
			}
		}
	}
}
