.site-header {
	background: rgba($light-color, 0.8);
	position: fixed;
	z-index: 99;
	width: 100%;

	@include tablet {
		width: 100%;
		height: 60px;
	}

	.top-bar {
		background: linear-gradient(90deg, $main-color, rgba($dark-color, 0.7));
		height: 2rem;
		padding: 0 1rem;
		width: 100%;

		@include tablet {
			display: none;
		}

		&__inner {
			display: flex;
			justify-content: flex-end;
			margin: 0 auto;
			max-width: $max-width;

			.social {
				display: flex;
				justify-content: space-between;
				padding: 0;

				.social-link {
					color: $accent-color;
					display: inline-flex;
					margin: 0 0.5rem;
					height: 2rem;
					padding: 0 6px;
					transition: all 0.3s;
					width: 2rem;

					svg {
						margin: auto;
					}

					img {
						height: 100%;
						object-fit: contain;
						width: 100%;
					}

					&:hover {
						color: #fff;
						opacity: 0.8;
					}
				}
			}
		}
	}

	.inner-header {
		display: grid;
		grid-template-columns: 175px 1fr;
		max-width: $max-width;
		margin: 0 auto;
		position: sticky;
		overflow-x: hidden;
		top: 0;
		z-index: 98;

		.logo {
			margin: 0;
			padding: 0.5rem;

			@include tablet {
				width: 150px;
				padding: 0 0.5rem 0.5rem;
			}
		}

		.hamb-menu {
			border: none;
			background: none;
			display: none;

			@include tablet {
				display: flex;
				height: 45px;
				width: 51px;
				padding: 15px;
				align-self: center;
				justify-self: end;
				flex-direction: column;
				justify-content: center;
				align-content: center;

				.menu-bar {
					background: $dark-color;
					height: 3px;
					width: 100%;
					transition: all 0.3s;

					&:first-child {
						margin: 0 0 auto;
					}

					&:last-child {
						margin: auto 0 0;
					}
				}

				&.crossed {
					.menu-bar {
						&:first-child {
							margin: 0 0 auto;
							transform: rotate(-45deg) translate(-3px, 6px);
						}

						&:nth-child(2) {
							opacity: 0;
						}

						&:last-child {
							margin: auto 0 0;
							transform: rotate(45deg) translate(-3px, -6px);
						}
					}
				}
			}
		}

		.main-nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 0.5rem;

			@include tablet {
				position: fixed;
				background: $light-color;
				right: -361px;
				width: 360px;
				height: 100vh;
				top: 59px;
				transition: all 0.3s;

				.nav-list {
					flex-direction: column;
					margin: 2rem auto auto !important;
					width: 280px;

					.nav-item {
						a {
							display: block;
						}
					}
				}

				&:after {
					content: '';
					background: rgba($dark-color, 0.7);
					position: absolute;
					height: 100%;
					width: 100vw;
					pointer-events: none;
					right: 100%;
					top: 0;
					opacity: 0;
					transition: opacity 0.3s;
				}

				&.open {
					right: 0;

					&:after {
						pointer-events: all;
						opacity: 1;
					}
				}
			}

			.nav-list {
				display: flex;
				margin: 0;
				padding: 0;

				.nav-item {
					margin: 9px;
					padding: 0;

					a {
						border-bottom: 1px solid transparent;
						color: $main-color;
						font-family: $display-font;
						font-size: 0.8em;
						letter-spacing: 0.075em;
						padding: 6px 0 3px;
						text-decoration: none;
						text-transform: uppercase;
						transition: all 0.3s;

						&:hover {
							color: $dark-color;
							border-bottom: 1px solid $dark-color;
							padding: 6px 0;
						}
					}
				}
			}
		}
	}
}
