.site-header {
	background: $light-color;
	position: sticky;
	top: 0;
	z-index: 99;
	overflow-x: hidden;

	.inner-header {
		display: grid;
		grid-template-columns: 175px 1fr;
		max-width: $max-width;
		margin: 0 auto;
		width: 100%;
		padding: 2rem 0 0;

		.top-bar {
			background: linear-gradient(90deg, $main-color, rgba($dark-color, 0.7));
			display: flex;
			height: 2rem;
			justify-content: flex-end;
			left: 0;
			padding: 0 1rem;
			position: absolute;
			top: 0;
			width: 100vw;

			@include tablet {
				display: none;
			}

			.social {
				display: flex;
				justify-content: space-between;
				padding: 0 0.5rem;
				width: 129px;

				.social-link {
					height: 2rem;
					padding: 0 6px;
					width: 2rem;
					transition: all 0.3s;

					img {
						height: 100%;
						object-fit: contain;
						width: 100%;
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		.logo {
			margin: 0;
			padding: 0.5rem;
		}

		.main-nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 0.5rem;

			@include tablet {
				display: none;
			}

			.nav-list {
				display: flex;
				margin: 0;
				padding: 0;

				.nav-item {
					margin: 9px;
					padding: 0;

					a {
						border-bottom: 3px solid $main-color;
						color: $main-color;
						font-family: $display-font;
						font-size: 0.8em;
						letter-spacing: 0.075em;
						padding: 6px 0;
						text-decoration: none;
						text-transform: uppercase;
						transition: all 0.3s;

						&:hover {
							color: $dark-color;
							border-bottom: 3px solid $dark-color;
						}
					}
				}
			}
		}
	}
}
