section.hero {
	position: relative;
	height: 50vh;
	min-height: 400px;

	@include tablet {
		height: 300px;
		min-height: auto;
	}

	.react-parallax-content {
		height: 100%;
	}

	.tagline {
		left: 0;
		margin: 0 auto;
		max-width: calc(#{$max-width} + 1rem);
		max-width: $max-width;
		padding: 0.5rem;
		position: absolute;
		right: 0;
		top: 40%;

		h4 {
			color: $white;
			font-family: $display-font;
			font-size: 3em;
			font-weight: normal;
			text-align: right;
			letter-spacing: 0.075em;
			margin: 0;
			text-shadow: 0 3px 3px $dark-color;
			text-transform: uppercase;

			@include tablet {
				font-size: 2em;
			}
		}
	}
}
