.organic {
	&__content {
		background-color: $dark-color;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		background-attachment: fixed;
		padding: 3rem 1rem;

		.practices {
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			margin: 2rem auto;
			max-width: 1000px;
			padding: 0;
			width: 100%;

			&__block {
				background: $main-color;
				border: 1px solid $accent-color;
				box-shadow: inset 0 0 0 1px transparent;
				display: flex;
				padding: 2rem 1.5rem;
				transition: all 0.3s;

				p {
					color: $white;
					margin: auto;
					line-height: 1.75;
					letter-spacing: 0.05rem;
					text-align: center;
					text-transform: uppercase;
				}

				&:hover {
					box-shadow: inset 0 0 0 6px $accent-color;
				}
			}
		}

		.certifications {
			display: flex;
			justify-content: space-between;
			max-width: 600px;
			margin: 4rem auto;

			&__logo {
				margin: 1rem;
				width: 15%;
				max-width: 100px;
			}
		}

		.description {
			border-bottom: 1px solid $accent-color;
			background: $light-color;
			max-width: 800px;
			margin: 0 auto 2rem;
			padding: 2rem;

			&__title {
				color: $main-color;
				letter-spacing: 0.05rem;
				text-align: center;
				text-transform: uppercase;
				font-weight: normal;
			}

			p {
				color: $main-color;
				line-height: 1.75;
				letter-spacing: 0.05rem;
				text-align: center;
			}
		}
	}
}
