section.products {
	padding: 1rem 0 0;
	position: relative;

	.prods-title {
		border-bottom: 3px solid $main-color;
		color: $main-color;
		font-family: $display-font;
		font-weight: normal;
		letter-spacing: 0.075rem;
		margin: 0 auto 1rem;
		padding-bottom: 0.5rem;
		text-align: center;
		text-transform: uppercase;
		width: fit-content;
	}

	.prods-list {
		background: no-repeat center center / cover;
		padding: 60px 1rem;

		.prods-grid {
			display: grid;
			grid-gap: 0.5rem;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			margin: 0 auto;
			max-width: 700px;

			.prod-card {
				background: $white;
				cursor: pointer;
				padding: 0.5rem;
				position: relative;
				overflow: hidden;

				img {
					display: block;
					height: 200px;
					mix-blend-mode: multiply;
					object-fit: contain;
					width: 100%;
				}

				.prod-name {
					color: $main-color;
					font-size: 1.25rem;
					margin: 0;
					text-align: center;
					padding: 0.5rem 0 0;
				}

				.prod-details {
					background: linear-gradient(45deg, rgba($dark-color, 0.8), rgba($main-color, 0.8));
					color: #fff;
					height: 100%;
					left: 0;
					opacity: 0;
					padding: 0.5rem;
					position: absolute;
					top: 50%;
					transition: all 0.4s;
					width: 100%;
				}

				&:hover {
					.prod-details {
						opacity: 1;
						top: 0;
					}
				}
			}
		}
	}
}
