section.products {
	margin: 4rem 0 0;
	padding: 1rem 0 0;
	position: relative;

	.prods-header {
		margin: 0 auto 1rem;
		height: 250px;
		max-width: 800px;

		@include tablet {
			height: 200px;
		}

		img {
			display: block;
			height: 100%;
			object-fit: contain;
			mix-blend-mode: darken;
			width: 100%;
		}
	}

	.prods-title {
		border-bottom: 3px solid $main-color;
		color: $main-color;
		font-family: $display-font;
		font-weight: normal;
		letter-spacing: 0.075rem;
		margin: 0 auto 1rem;
		padding-bottom: 0.5rem;
		text-align: center;
		text-transform: uppercase;
		width: fit-content;
	}

	.prods-list {
		background: no-repeat center center / cover;
		background-attachment: fixed;
		padding: 8rem 1rem;

		.prods-grid {
			// display: grid;
			// grid-gap: 1rem;
			// //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			// grid-template-columns: repeat(4, 1fr);
			background: $white;
			flex-wrap: wrap;
			display: flex;
			justify-content: center;
			margin: 0 auto 1rem;
			max-width: 800px;
			padding: 1rem;

			.prod-card {
				cursor: pointer;
				padding: 0.5rem;
				position: relative;
				overflow: hidden;
				width: 25%;
				margin: 0;

				@include phone {
					width: 50%;
				}

				img {
					display: block;
					height: 200px;
					mix-blend-mode: multiply;
					object-fit: contain;
					width: 100%;
				}

				.prod-details {
					background: linear-gradient(45deg, rgba($dark-color, 0.8), rgba($main-color, 0.8));
					color: #fff;
					display: flex;
					flex-direction: column;
					font-size: 0.9rem;
					height: calc(100% - 1rem);
					left: 0.5rem;
					line-break: 1.25;
					opacity: 0;
					padding: 0.5rem;
					position: absolute;
					text-align: center;
					top: 30%;
					transition: all 0.4s;
					width: calc(100% - 1rem);

					.prod-desc {
						margin: auto auto 1rem;
					}

					.pack {
						color: $accent-color;
						margin: auto;
					}
				}

				&:hover {
					.prod-details {
						opacity: 1;
						top: 0.5rem;
					}
				}
			}

			.prod-text {
				width: 100%;

				.prod-name {
					border-bottom: 1px solid $accent-color;
					color: $main-color;
					font-size: 1.15rem;
					margin: 0 auto 0.5rem;
					text-align: center;
					padding: 0.5rem 0 0.5rem;
					width: 70%;
				}
				.prod-variety {
					color: $main-color;
					font-style: italic;
					margin: 0;
					font-size: 0.8rem;
					text-align: center;
					padding: 0 0 0.5rem;
				}
			}
		}
	}
}
