$main-color: #7f8571;
$light-color: #f0e9d9;
$dark-color: #3e4346;
$white: #fff9f2;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$main-font: Georgia, serif;
$display-font: 'Montserrat', sans-serif;
